*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 40px;
    background:rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.hcl{
    font-size:28px;
    font-weight:bold;
    color:#26b0c5;
}

.tag{
    font-size:14px;
    color:#444;
}

nav a{
    margin:0 15px;
    text-decoration:none;
    color:#222;
    font-size:15px;
}

.contact-btn{
    padding:10px 18px;
    border:none;
    border-radius:8px;
    background:#fff;
    cursor:pointer;
    font-weight:600;
}


.hero{
    height:90vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:60px 80px;
    color:white;

    background: linear-gradient(120deg,#5a2dd8,#2da6d9,#39c4a1);
}


.hero-left h1{
    font-size:56px;
    line-height:1.2;
    margin-bottom:20px;
}

.hero-left p{
    font-size:18px;
    margin-bottom:25px;
}

.read-btn{
    padding:14px 25px;
    border:none;
    border-radius:10px;
    background:white;
    color:black;
    font-weight:bold;
    cursor:pointer;
    margin-bottom:40px;
}


.tabs span{
    margin-right:30px;
    font-size:15px;
    opacity:0.8;
    cursor:pointer;
}

.tabs .active{
    border-bottom:2px solid white;
    padding-bottom:6px;
    opacity:1;
}

.hero-right{
    text-align:center;
}

.hero-right h2{
    font-size:48px;
    line-height:1.1;
}

.hero-right p{
    margin-top:10px;
    font-size:14px;
}